*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PRODUCT CARDS*/
.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}


.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card > img {
    margin: 10px 20px;
    width: 90%;
    height: 250px;
}

.price{
    color: grey;
    font-size: 22px;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000 ;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}


/* MODAL CONTENT*/
.modal-container{
    width: 80%;
    margin: 0 10%; 
    max-height: 108vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*TOP*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}


.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-container{
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
}

.modal-header-title{
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
}

.modal-container > .modal-content{
    background-color: #0a0909;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}


.modal-container > div > img {
    width: 30%
}

.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}














